$btn-bg-cl: #4869e8;
$btn-txt-cl: #ffffff;
$hover-ceil-active-cl: #2196f3;

$statistic-item-bg-cl: #fbf8d8;
$statistic-item-text-cl: #854832;
$statistic-item-border-cl: #ffc10754;

$border: 2px solid black;