@import '../../../styles/variables.scss';

.defaultCeil {
    position: relative;
    width: calc(100% / 5);

    border-right: $border;
    border-top: $border;

    background-color: $btn-txt-cl;

    &:nth-child(1) {
        border-left: $border;
    }

    &::before {
        content: "";
        float: left;
        padding-top: 100%;

    }

    &[hovered="true"] {
        background-color: $hover-ceil-active-cl;
    }
}

.mediumCeil {
    width: calc(100% / 10);
}

.smallCeil {
    width: calc(100% / 15);
}